body {
  text-align: center;
  color: white;
  margin-bottom: 227px;
  background: linear-gradient(
    184deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 99%
  );
}
h1 {
  font-size: 85px;
  color: #05d2e2;
}
button {
  width: 100px;
  height: 100px;
  background-color: #05d2e2;
  font-size: 30px;
}
.tab {
  margin: auto;
}
